[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=apiserver-haproxy.service

[Service]
EnvironmentFile=-/etc/kubernetes/scheduler
User=kube
ExecStart=/usr/bin/kube-scheduler \
      $KUBE_LOG_LEVEL \
      $KUBE_LOG_TOSTDERR \
      $KUBE_CONFIG \
      $KUBE_SCHEDULER_ARGS
Restart=on-failure
LimitNOFILE=65536
StandardOutput=null
# StandardError=null

[Install]
WantedBy=multi-user.target
