kubectl -n ceph delete secret ceph-conf-keyring
kubectl -n ceph create secret generic ceph-conf-keyring \
  --from-file=ceph.conf \
  --from-file=ceph.client.admin.keyring \
  --from-file=ceph.mon.keyring \
  --from-file=bootstrap_mds \
  --from-file=bootstrap_osd \
  --from-file=bootstrap_rgw \
  --from-file=bootstrap_rbd
