apiVersion: apps/v1
kind: Deployment
metadata:
  name: harbor-postgres
  namespace: {{ harbor_namespace }}
  labels:
    X_APP: harbor
    app: harbor
    daemon: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: harbor
      daemon: postgres
  template:
    metadata:
      labels:
        app: harbor
        daemon: postgres
    spec:
      automountServiceAccountToken: false
      containers:
      - name: harbor-db
        image: {{ harbor_db_image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: harbor-environment
              key: POSTGRESQL_PASSWORD
        - name: POD_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.podIP
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - exec pg_isready -U postgres --host $POD_IP
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - exec pg_isready -U postgres --host $POD_IP
        resources:
          limits:
            cpu: "{{ harbor_cpu_limits }}"
            memory: {{ harbor_memory_limits }}
          requests:
            cpu: "{{ harbor_cpu_requests }}"
            memory: {{ harbor_memory_requests }}
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-data
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: harbor-db
