apiVersion: v1
kind: Service
metadata:
  name: harbor-postgres
  namespace: {{ harbor_namespace }}
  labels:
    X_APP: harbor
    app: harbor
    daemon: postgres
    type: service
spec:
  ports:
  - name: server
    port: 5432
  selector:
    app: harbor
    daemon: postgres
