apiVersion: v1
kind: Service
metadata:
  name: harbor-clair
  namespace: {{ harbor_namespace }}
  labels:
    X_APP: harbor
    app: harbor
    daemon: clair
    type: service
spec:
  ports:
  - name: api
    port: 6060
  - name: health
    port: 6061
  selector:
    app: harbor
    daemon: clair
