apiVersion: v1
kind: Service
metadata:
  name: harbor-ui
  namespace: {{ harbor_namespace }}
  labels:
    X_APP: harbor
    app: harbor
    type: ui
spec:
  ports:
  - name: http
    port: 8080
  selector:
    app: harbor
    daemon: ui
