apiVersion: v1
kind: Service
metadata:
  name: harbor-redis
  namespace: {{ harbor_namespace }}
  labels:
    X_APP: harbor
    app: harbor
    daemon: redis
    type: service
spec:
  ports:
  - name: server
    port: 6379
  selector:
    app: harbor
    daemon: redis
