[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service  syslocalconf.service
Requires=docker.service 

[Service]
WorkingDirectory={{ kubelet_dir }}
#ExecStartPre=/usr/sbin/modprobe rbd
#Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/opt/bin
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/kubelet
EnvironmentFile=/etc/syslocal.conf
ExecStart=/usr/bin/kubelet \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBELET_API_SERVER \
	    $KUBELET_ADDRESS \
      $KUBE_MASTER \
	    $KUBELET_PORT \
	    $KUBELET_HOSTNAME \
	    $KUBE_ALLOW_PRIV \
	    $KUBELET_ARGS \
      --address ${EXTERNAL_IP} \
      --node-ip ${EXTERNAL_IP} \
      --hostname-override ${EXTERNAL_IP}
TimeoutStartSec=1h
Restart=always
KillMode=process
StandardOutput=null
# StandardError=null

[Install]
WantedBy=multi-user.target
