apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: docker-registry
    release: helium
  name: {{ registry_namespace }}-registry-data-pvc
  namespace: system-tools
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ registry_data_pv_size }}
  selector:
    matchLabels:
      app: docker-registry
      release: helium