apiVersion: v1
kind: ConfigMap
metadata:
  name: helium-docker-registry-config
  namespace: {{ registry_namespace }}
  labels:
    app: docker-registry
    release: helium
data:
  config.yml: |-
    health:
      storagedriver:
        enabled: true
        interval: 10s
        threshold: 3
    http:
      addr: :5000
      headers:
        X-Content-Type-Options:
        - nosniff
    log:
      fields:
        service: registry
    storage:
      cache:
        blobdescriptor: inmemory
    version: 0.1