apiVersion: v1
kind: Service
metadata:
  name: helium-docker-registry
  namespace: {{ registry_namespace }}
  labels:
    app: docker-registry
    release: helium
spec:
  type: NodePort
  ports:
    - port: 5000
      protocol: TCP
      name: registry
      targetPort: 5000
      nodePort: {{ registry_nodeport }}
  selector:
    app: docker-registry
    release: helium