apiVersion: v1
kind: Secret
metadata:
  name: helium-docker-registry-secret
  namespace: {{ registry_namespace }}
  labels:
    app: docker-registry
    release: helium
type: Opaque
data:
  haSharedSecret: "{{ ha_shared_secret.stdout | b64encode }}"