{
    "apiVersion": "v1",
    "kind": "Namespace",
    "metadata": {
        "annotations": {
            "io.enndata.namespace/alpha-allowhostpath": "true",
            "io.enndata.namespace/alpha-allowprivilege": "true"
        },
        "name": "system-tools"
    }
}

