{
    "apiVersion": "v1",
    "kind": "Secret",
    "metadata": {
        "name": "system-tools",
        "namespace": "system-tools"
    },
    "type": "kubernetes.io/rbd",
    "data": {
        "key": "{{ ceph_secret_key.stdout }}"
    }
}

