apiVersion: v1
kind: Service
metadata:
  name: ceph-rgw
  namespace: ceph
spec:
  type: NodePort
  ports:
  - name: http
    nodePort: {{ rgw_node_port }}
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: ceph
    daemon: rgw
